*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  height: 700px;
  margin: auto;
  font-size: 18px;
  font-family: 'Space Grotesk', sans-serif;
}

main {
  display: flex;
  height: 100%;
  margin-top: 20px;
}

#background {
  width: 30%;
  height: 100%;
  background-image: url(/assets/background/bg-main-desktop.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
}

#form_container {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid black;
}

#informations {
  display: flex;
  flex-direction: column;
}

label {
    font-size: 14px;
}

input {
  height: 40px;
  border: 1px solid lightgray;
  border-radius: 7px;
  margin-top: 5px;
  font-size: 18px;
  outline: none;
  padding-left: 10px;
}

input:focus {
    border: 1px solid hsl(278, 94%, 30%)
}

#date_and_cvc {
  display: flex;
  flex-wrap: nowrap;
}

#date_inputs {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 10px;
}

#date_inputs input {
    width: 70px;
}

#date,
#cvc_number {
  display: flex;
  flex-direction: column;
}

#cvc_number {
    margin-left: 10px;
}

#submit_button {
    background-color: hsl(278, 68%, 11%);
    color: white;
    cursor: pointer;
}

.error_message {
    height: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: red;
    font-size: 10px;
}
